@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

/* @font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
} */

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --bg-color: #2e2d2d;
  --text-color_light: #f2ecd5;
  --text-color_dark: #2e2d2d;
  --accent-color: #e9f422;

  /*Typografi */
  --font-display: "Bowlby One Sc", serif;
  --text-font: "Futura-pt", serif;
  --font-handwritten: "Over the Rainbow", sans-serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
