@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "futura-pt";
  src: url("https://use.typekit.net/...") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --bg-color: #2e2d2d;
  --color-light: #f2ecd5;
  --color-dark: #2e2d2d;
  --accent-color: #e9f422;

  /*Typografi */
  --font-display: "Bowlby One Sc", serif;
  --font-paragraph: "Lexend", sans-serif;
  --font-handwritten: "Over the Rainbow", sans-serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
