---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import PersonBuilder from "../components/PersonBuilder.astro";
---
<MainLayout title="Titel">
      <!-- Noise overlay -->
  <div 
  class="pointer-events-none fixed inset-0 z-[9999] mix-blend-multiply opacity-100"
  style="
    background-image: url('/images/noise.png'); 
    background-repeat: repeat; 
    background-size: 300px 300px; 
    image-rendering: pixelated;
  ">
</div>
    <section class="py-30 overflow-hidden relative">
    <div class="mx-auto max-w-screen-lg px-4 grid grid-cols-12 gap-y-0" >
     <Heading htmlheading="h2" size="medium" font="h2" stylingclasses="col-start-4 col-span-8 -mt-4 lg:-mt-10 intersect:animate-fade-left intersect:duration-3000">Behind &</Heading>
    <Heading htmlheading="h4" size="xsmall" font="h4" stylingclasses="col-start-3 col-span-5 -mt-2 lg:-mt-6">Instant Day</Heading>
    <Heading htmlheading="h2" size="medium" font="h2" stylingclasses="col-start-6 col-span-5 -mt-3 lg:-mt-8 intersect:animate-fade-right intersect:duration-3000">About</Heading>
    <Text teksttype="Light" stylingclasses="col-start-3 col-span-8 pt-10 intersect:animate-fade-up intersect:duration-3000">Instant Day is a small project run by a couple of lecturers from the Multimedia Design programme at EK - Business Academy Copenhagen. Instant Day is a bi-annual project where lecturers and students collaborate on a digital design and communication project related to the Instant Day competition (this website). In essence, we just want to promote instant photography and have fun while doing it. Cheers.
    </Text>
    </div>
    <img src="/images/scroll_2.png" alt="Billede 2" class="filter grayscale hover:grayscale-0 transition duration-300 hover:scale-110 absolute w-15 lg:w-45 -left-5 lg:-left-10 bottom-60 lg:bottom-60 rotate-20">
    <img src="/images/scroll_7.png" alt="Billede 7" class="filter grayscale hover:grayscale-0 transition duration-300 hover:scale-110 absolute w-15 lg:w-45 left-115 lg:left-350 bottom-90 lg:bottom-130 -rotate-20">
    </section>
    <section class="bg-[url(/images/judges_bg.png)] bg-cover py-15 lg:py-20">
    <Heading htmlheading="h3" size="small_light" font="h3_light" stylingclasses="col-start-4 col-span-8 text-center fadeinleft1">The judges:</Heading>
    <div class="mx-auto max-w-screen-lg px-4 grid grid-cols-12 gap-y-0">
    <Text teksttype="Light" stylingclasses="col-start-3 col-span-9 pt-2 pb-5">Submissions will be reviewed by: </Text>
    <Text teksttype="Light" stylingclasses="col-start-3 col-span-9 py-3">
    <ul class="list-disc list-inside space-y-2">
    <li>Jonas Hasle (Assistant lecturer, Multimedia Design programme at EK)</li>
    <li>Anders Dollerup (Associate lecturer, Multimedia Design programme at EK)</li>
    <li>Birgitte Heide (Associate lecturer, Multimedia Design programme at EK)</li>
    <li>Stefan Grage (Associate lecturer, Multimedia Design programme at EK)</li>
    <li>Students on the Digital Design Elective on the Multimedia Design programme at KEA</li>
    </ul>
    </Text>
    </div>
    <div class="grid grid-cols-12">
    <Heading htmlheading="h4" size="xsmall" font="h4" stylingclasses="col-start-2 lg:col-start-3 col-span-7 pt-5 lg:pt-10">Scroll through the judges....</Heading>
    <Heading htmlheading="h4" size="xsmall" font="h4" stylingclasses="col-start-5 lg:col-start-5 col-span-8 pt-5 lg:py-7">....and create your very own ultimate judge!</Heading>
    </div>
  <div class="flex items-center justify-center min-h-screen -my-30 lg:-my-15">
  <PersonBuilder />
</div>
</section>
<section class="grid grid-cols-12">
    <Heading htmlheading="h4" size="xsmall" font="h4" stylingclasses="col-start-2 lg:col-start-4 col-span-5 pt-15 lg:pt-20">Have fun and....</Heading>
    <Heading htmlheading="h4" size="xsmall" font="h4" stylingclasses="col-start-5 lg:col-start-6 col-span-7 pt-10 -mb-10">....let's celebrate the imperfect!</Heading>
</section>

<section class="bg-[url(/images/sponsors_bg.png)] bg-cover py-15 lg:py-20 my-30">
    <div class="mx-auto max-w-screen-lg px-4 grid grid-cols-12 gap-y-0">
        <Heading htmlheading="h3" size="small_dark" font="h3_dark" stylingclasses="col-start-3 col-span-6 fadeinright1">Sponsors:</Heading>
        <Text teksttype="Dark" stylingclasses="col-start-3 col-span-9 pt-2 pb-5">
        Instant Day is not affiliated to any companies within the Instant Photography industry. The only organisation backing us is EK - Business Academy Copenhagen. At least so far;-)</Text>
        <a href="https://www.ek.dk/kurser?educationTypes=Akademiuddannelse&gad_source=1&gad_campaignid=1048748118&gbraid=0AAAAAD5ytlKfMThJ7Lxvj3Njg69NM_Uzp&gclid=CjwKCAjwlaTGBhANEiwAoRgXBd28GRkWp1gZeUENGifJXcpj9aAitpnwJbbodXnSvdnevxCY_7U0LBoCh3EQAvD_BwE" 
   target="_blank" 
   rel="noopener noreferrer" 
   class="col-start-10">
  <img 
    src="/images/ek_logo.svg" 
    alt="EK_logo" 
    class="filter grayscale hover:grayscale-0 transition duration-300 hover:scale-110"
  >
</a>
</section>
</MainLayout>

<script>
  /* Import af Motion One bibliotek */
	import { animate, stagger, inView, scroll, } from "motion";
  /* slider heading element ind */
  inView( ".fadeinleft1" , () =>{
	animate( ".fadeinleft1", { x: [-2000, 0 ] }, { duration: 1.5})
	})

  inView( ".fadeinright1" , () =>{
	animate( ".fadeinright1", { x: [2000, 0 ] }, { duration: 1.5})
	})

   inView( ".fadeup1" , () =>{
	animate( ".fadeup1", { y: [2000, 0 ] }, { duration: 1})
	})

    inView( ".fadeinleft2" , () =>{
	animate( ".fadeinleft2", { x: [-2000, 0 ] }, { duration: 1.5})
	})

    inView( ".fadeinright2" , () =>{
	animate( ".fadeinright2", { x: [2000, 0 ] }, { duration: 1.5})
	})

   inView( ".fadeinleft3" , () =>{
	animate( ".fadeinleft3", { x: [-2000, 0 ] }, { duration: 1.5})
	})

  inView( ".fadeinright3" , () =>{
	animate( ".fadeinright3", { x: [2000, 0 ] }, { duration: 1.5})
	})

   inView( ".fadeup2" , () =>{
	animate( ".fadeup2", { y: [2000, 0 ] }, { duration: 1.5})
	})

  inView( ".fadeinleft4" , () =>{
	animate( ".fadeinleft4", { x: [-2000, 0 ] }, { duration: 1.5})
	})

</script> 