---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<MainLayout title="Titel">
  <!-- Noise overlay -->
  <div
    class="pointer-events-none fixed inset-0 z-[9999] mix-blend-multiply opacity-100"
    style="
    background-image: url('/images/noise.png'); 
    background-repeat: repeat; 
    background-size: 300px 300px; 
    image-rendering: pixelated;
  "
  >
  </div>
  <body>
    <main class="bg-[#2D2C2C]">
      <div class="relative mb-20 z-0">
        <img
          src="/images/corner-pic-1.png"
          class="w-30 lg:w-60 object-scale-down absolute -ml-10 transition duration-300 hover:scale-110 intersect:animate-fade-right intersect:duration-300 -rotate-12"
          alt=""
        />
      </div>
      <div class="relative mb-20 z-0">
        <img
          src="/images/corner-pic-2.png"
          class="w-20 lg:w-40 object-scale-down absolute right-0 mt-80 lg:mt-150 transition duration-300 hover:scale-110 intersect:animate-fade-right intersect:duration-300"
          alt=""
        />
      </div>
      <div class="relative mb-20 z-0">
        <img
          src="/images/corner-pic-3.png"
          class="w-20 lg:w-40 object-scale-down absolute mt-120 lg:mt-250 transition duration-300 hover:scale-110 intersect:animate-fade-right intersect:duration-300"
          alt=""
        />
      </div>
      <div class="relative mb-20 z-0">
        <img
          src="/images/corner-pic-4.png"
          class="w-20 lg:w-30 object-scale-down absolute right-0 mt-170 lg:mt-320 transition duration-300 hover:scale-110 intersect:animate-fade-right intersect:duration-300"
          alt=""
        />
      </div>
      <section class="m-auto max-w-screen-lg px-4 grid grid-cols-12 gap-y-0">
        <Heading
          htmlheading="h4"
          size="xsmall"
          font="h4"
          stylingclasses="col-start-6 col-span-3 intersect:animate-fade-up intersect:duration-3000"
        >
          Why use it?
        </Heading>
        <Heading
          htmlheading="h2"
          size="medium"
          font="h2"
          stylingclasses="col-start-3 lg:col-start-2 col-span-11 lg:ml-17 -mt-2 lg:-mt-6 intersect:animate-fade-right intersect:duration-3000"
        >
          WHY INSTANT
        </Heading>
        <Heading
          htmlheading="h2"
          size="medium"
          font="h2"
          stylingclasses="col-start-2 col-span-10 ml-10 -mt-2 lg:-mt-6 intersect:animate-fade-left intersect:duration-3000"
        >
          PHOTOGRAPHY
        </Heading>

        <div class="col-span-9 col-start-3 mt-5 lg:mt-10 p-10">
          <img src="/images/film-img.png" alt="" />
          <Text teksttype="Light" stylingclasses=" mt-15 mb-15 lg:mb-35 fadeinleft5">
            Instant Photography is a testament to life: It all started back in
            the 1940’s with a 3 year old kid. She wanted to see her fathers
            images right away. The father, Edwin Land, embarked on a mission: To
            invent instant photography. Half a decade later, Edwin Land launched
            Instant photography and established the Polaroid brand. Instant
            photography turned into big business in the 70’s and 80’s, until the
            digital era almost killed the industry. The massive amount of time
            wasted on the small screens have spurred a counterreaction:
            Analogue, off-line experiences have become popular again. And
            instant photography is just that: An analogue, life-affirming and
            tactile photography experience. So let’s celebrate life, and make
            memories:-)
          </Text>
        </div>
      </section>
      <section class="bg-[url('/images/why-bg.png')] bg-cover">
        <div
          class="mx-auto max-w-screen-lg px-4 grid grid-cols-12 gap-y-0 py-5"
        >
          <Heading
            htmlheading="h2"
            size="small_dark"
            font="h2"
            stylingclasses="col-span-3 col-start-3 mt-5 lg:mt-25 fadeinleft1"
          >
            EDWIN
          </Heading>
          <Heading
            htmlheading="h4"
            size="xsmall"
            font="h4"
            stylingclasses="col-start-6 col-span-5 ml-7 lg:ml-15 mt-8 lg:mt-32"
          >
            The brain behind
          </Heading>
          <Heading
            htmlheading="h2"
            size="small_dark"
            font="h2"
            stylingclasses="col-span-3 col-start-7 -mt-1 -ml-3 lg:-mt-5 fadeinright1"
          >
            LAND
          </Heading>

          <Heading
            htmlheading="h4"
            size="xsmall"
            font="h4"
            stylingclasses="col-start-2 col-span-5 -mt-12 -ml-5 lg:col-start-3 lg:-ml-20 lg:-mt-26"
          >
            Instant Photography
          </Heading>
          <div class="col-start-2 col-span-6 mt-10 mb-20">
            <Text teksttype="Dark" stylingclasses="fadeup2">
              Edwin Herbert Land was an American scientist and inventor, best
              known as the co-founder of the Polaroid Corporation. He invented
              inexpensive filters for polarizing light, a practical system of
              in-camera instant photography, and the retinex theory of color
              vision, among other things. His Polaroid instant camera went on
              sale in late 1948 and made it possible for a picture to be taken
              and developed in 60 seconds or less.
            </Text>
          </div>
          <img
            src="/images/edwindland.png"
            class="mt-15 lg:mt-5 lg:col-start-8 col-span-3 ml-15 -rotate-10"
            alt=""
          />
        </div>
      </section>
    </main>

    <div class="grid grid-cols-12 mt-20 lg:my-30">
      <img
        src="/images/photo-1.png"
        class="col-start-3 col-span-4 lg:col-start-4 lg:col-span-3 filter grayscale hover:grayscale-0 transition duration-300 hover:scale-110 -rotate-12"
        alt=""
      />
      <img
        src="/images/photo-2.png"
        class="col-start-8 col-span-4 lg:-ml-30 lg:col-start-9 lg:col-span-3 mt-40 mb-20 filter grayscale hover:grayscale-0 transition duration-300 hover:scale-110 rotate-10"
        alt=""
      />
    </div>
    <section class="bg-[#B59A86] grid grid-cols-12 pt-20 pb-20">
      <Heading
        htmlheading="h2"
        size="small_dark"
        font="h2"
        stylingclasses="col-start-3 col-span-8 text-center fadeinleft3"
        >HOW DOES IT WORK?</Heading
      >
      <Text
        teksttype="Dark"
        stylingclasses="col-start-3 col-span-8 mt-5 fadeinright3"
      >
        To use a Polaroid camera, you insert the instant film pack, frame your
        subject, and press the shutter button. The camera then uses rollers to
        squeeze a developer from a capsule onto the light-sensitive film, which
        contains dyes that spread and form the image. The image then emerges
        from the camera with a protective layer, like a gray haze, that
        disappears as the internal chemistry develops the image. You shouldn't
        shake it, but rather let it develop at a stable temperature for about 15
        minutes to an hour.
      </Text>
    </section>
    <section
      class="flex flex-row flex-wrap justify-center mx-20 my-10 lg:flex-nowrap"
    >
      <div class="py-5 lg:py-10">
        <img src="/images/guide-1.png" class="w-30 h-30 lg:w-40 lg:h-40 m-auto" alt="" />
        <Text teksttype="Nominees" stylingclasses="m-2 lg:m-4 px-20 lg:px-5 text-center">
          Put the film in and wait for the camera to print out a black sheet
        </Text>
      </div>
      <div class="py-5 lg:py-10">
        <img src="/images/guide-2.png" class="w-30 h-30 lg:w-40 lg:h-40 m-auto" alt="" />
        <Text teksttype="Nominees" stylingclasses="m-2 lg:m-4 px-20 lg:px-5 text-center">
          Press the red button, and watch your picture emerge
        </Text>
      </div>
      <div class="py-5 lg:py-10">
        <img src="/images/guide-3.png" class="w-30 h-30 lg:w-40 lg:h-40 m-auto" alt="" />
        <Text teksttype="Nominees" stylingclasses="m-2 lg:m-4 px-20 lg:px-5 text-center">
          Place the newly printed frame on a surface with the backside up
        </Text>
      </div>
      <div class="py-5 lg:py-10">
        <img src="/images/guide-4.png" class="w-30 h-30 lg:w-40 lg:h-40 m-auto" alt="" />
        <Text teksttype="Nominees" stylingclasses="m-2 lg:m-4 px-20 lg:px-5 text-center">
          Wait 15-20 minutes before the photo is ready.
        </Text>
      </div>
    </section>
    <section class="grid grid-cols-12 relative">
      <div class="col-span-12 m-auto z-1">
        <Heading
          htmlheading="h4"
          size="xsmall"
          font="h4"
          stylingclasses="text-2xl lg:text-4xl mt-40 fadeinright4"
        >
          Perfectly imperfect
        </Heading>
        <Heading
          htmlheading="h4"
          size="xsmall"
          font="h4"
          stylingclasses="text-2xl lg:text-4xl mt-5 fadeinleft6"
        >
          Just like the moment.
        </Heading>
      </div>
      <div class="z-0 mb-60 lg:mb-110">
        <img
          src="/images/photo-3.png"
          class="w-20 lg:w-60 object-scale-down absolute top-0 transition duration-300 hover:scale-110 "
          alt=""
        />
        <img
          src="/images/photo-4.png"
          class="w-30 lg:w-70 object-scale-down absolute right-0 transition duration-300 hover:scale-110 "
          alt=""
        />
      </div>
    </section>
  </body>
</MainLayout>


<script>
  /* Import af Motion One bibliotek */
	import { animate, stagger, inView, scroll, } from "motion";
  /* slider heading element ind */
  inView( ".fadeinleft1" , () =>{
	animate( ".fadeinleft1", { x: [-2000, 0 ] }, { duration: 1.5})
	})

  inView( ".fadeinright1" , () =>{
	animate( ".fadeinright1", { x: [2000, 0 ] }, { duration: 1.5})
	})

   inView( ".fadeup1" , () =>{
	animate( ".fadeup1", { y: [2000, 0 ] }, { duration: 1})
	})

    inView( ".fadeinleft2" , () =>{
	animate( ".fadeinleft2", { x: [-2000, 0 ] }, { duration: 1.5})
	})

    inView( ".fadeinright2" , () =>{
	animate( ".fadeinright2", { x: [2000, 0 ] }, { duration: 1.5})
	})

   inView( ".fadeinleft3" , () =>{
	animate( ".fadeinleft3", { x: [-2000, 0 ] }, { duration: 1.5})
	})

  inView( ".fadeinright3" , () =>{
	animate( ".fadeinright3", { x: [2000, 0 ] }, { duration: 1.5})
	})

   inView( ".fadeup2" , () =>{
	animate( ".fadeup2", { y: [2000, 0 ] }, { duration: 1.5})
	})

  inView( ".fadeinleft4" , () =>{
	animate( ".fadeinleft4", { x: [-2000, 0 ] }, { duration: 1.5})
	})

  inView( ".fadeinleft5" , () =>{
	animate( ".fadeinleft5", { x: [-2000, 0 ] }, { duration: 1.5})
	})

 inView( ".fadeinright4" , () =>{
	animate( ".fadeinright4", { x: [2000, 0 ] }, { duration: 1.5})
	})

  inView( ".fadeinleft6" , () =>{
	animate( ".fadeinleft6", { x: [-2000, 0 ] }, { duration: 1.5})
	})
</script> 