---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Titel">
  <!-- Hero Section -->
  <!-- <section
    class="relative w-full h-[70vh] md:h-screen bg-cover bg-center flex flex-col items-center justify-center"
    style="background-image: url('/images/hero_img.png');"
  >
  </section> -->

  <!-- Rest of page -->
  <main class="container mx-auto p-4 bg-[#2D2C2C] grid grid-cols-12">
    <section class="col-start-3 col-span-3">
      <p
        class="text-[#E9F422] lg:text-4xl mb-4 lg:mb-10"
        style=" font-family: 'La Belle Aurore', cursive;"
      >
        Why use it?
      </p>
      <p
        class="text-[#F2ECD5] lg:text-8xl"
        style="font-family: 'Bowlby One SC', sans-serif;"
      >
        WHY INSTANT PHOTOGRAPHY
      </p>
    </section>
    <section class="col-span-8 col-start-3 mt-10 p-10">
      <img src="/public/images/film-img.png" alt="" />
      <p
        class="text-[#F2ECD5] lg:text-1xl m-10"
        style="font-family: 'Bowlby One SC', sans-serif;"
      >
        Instant Photography is a testament to life: It all started back in the
        1940’s with a 3 year old kid. She wanted to see her fathers images right
        away. The father, Edwin Land, embarked on a mission: To invent instant
        photography. Half a decade later, Edwin Land launched Instant
        photography and established the Polaroid brand. Instant photography
        turned into big business in the 70’s and 80’s, until the digital era
        almost killed the industry. The massive amount of time wasted on the
        small screens have spurred a counterreaction: Analogue, off-line
        experiences have become popular again. And instant photography is just
        that: An analogue, life-affirming and tactile photography experience. So
        let’s celebrate life, and make memories:-)
      </p>
    </section>
    <section class="col-span-8 col-start-3 mt-10 p-10">
      <p>
        Edwin Herbert Land was an American scientist and inventor,best known as
        the co-founder of the Polaroid Corporation. He invented inexpensive
        filters for polarizing light, a practical system of in-camera instant
        photography, and the retinex theory of color vision, among other things.
        His Polaroid instant camera went on sale in late 1948 and made it
        possible for a picture to be taken and developed in 60 seconds or less.
      </p>
    </section>
  </main>
</MainLayout>
