---
import Heading from "../components/Heading.astro";
---
<footer class="relative w-full bg-cover bg-center py-10"
    style="background-image: url('/images/hero_img.png');">
    <!-- a elementer -->
   <section  class="flex flex-wrap justify-center gap-x-8 lg:gap-x-12 font-paragraph font-bold lg:text-xl">
<a href="/" class="text-[#2D2C2C] pb-5 hover:text-[#e9f422]">I'm in</a>
<a href="/why" class="text-[#2D2C2C] pb-5 hover:text-[#e9f422]">Why instants</a>
<a href="/winners" class="text-[#2D2C2C] pb-5 hover:text-[#e9f422]">Winners</a>
<a href="/about" class="text-[#2D2C2C] pb-5 hover:text-[#e9f422]">About</a>
<a href="/terms" class="text-[#2D2C2C] pb-5 hover:text-[#e9f422]">Terms & conditions</a>
</section> 

<div class="text-center mt-10 px-2 lg:mt-10 lg:px-10 grid grid-cols-12">
    <Heading htmlheading="h4" size="xxsmall" font="h4" stylingclasses="mb-4 lg:mb-2 col-start-5 col-span-4 text-center">Let's celebrate</Heading>
    <p class="text-[#2D2C2C] text-sm lg:text-2xl px-20 col-start-1 col-span-12 lg:col-start-3 lg:col-span-8" style="font-family: 'Bowlby One SC', sans-serif;">October 18 is Instant Day - a day all about celebrating instant photography</p>
</div>

<!-- logo -->
 <div class="flex justify-center mt-10">
    <a href="/"><img src="/images/logo.svg" alt="logo" class="h-10 lg:h-16 w-auto"></a>
 </div>

</footer>
